<div class="holder">
  <div id="dialog"></div>
  <form class="form">
    <div class="icon-holder" *ngIf="formatting">
      <mat-icon
        (click)="textToFunction()"
        matTooltip="code"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        >code</mat-icon
      >
      <mat-icon
        (click)="textToCodeblock()"
        matTooltip="code block"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        >check_box_outline_blank</mat-icon
      >
    </div>

    <emoji-mart
      class="emoji-mart"
      *ngIf="isEmojiPickerVisible"
      (emojiSelect)="addEmoji($event)"
      title="Choose your emoji"
    ></emoji-mart>

    <input
      [(ngModel)]="inputField"
      [ngModelOptions]="{ standalone: true }"
      [class.functionFont]="functionText"
      #input
      placeholder="{{ component.textPlaceholder }} {{ fire.actChannel }}"
    />
    <div class="img-preview-container">
      <img class="img-preview" *ngIf="showPreview" [src]="fb" />
      <mat-icon
        class="deleteImg"
        *ngIf="showPreview"
        (click)="deleteImgStorage(fb)"
        >delete_forever</mat-icon
      >
    </div>

    <div class="icon-holder space-between">
      <div class="icon-holder">
        <div class="file-upload">
          <mat-icon
            (click)="fileInput.click()"
            matTooltip="upload file"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="white add"
            >add</mat-icon
          >
          <input
            class="upload-input"
            hidden
            #fileInput
            (change)="uploadFile($event)"
            type="file"
            id="file"
            name="image"
            accept=".png, .jpg"
          />
        </div>

        <div class="vr white"></div>
        <mat-icon
          (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
          matTooltip="Emojis"
          matTooltipPosition="above"
          matTooltipShowDelay="250"
          class="white"
          >tag_faces</mat-icon
        >

        <ng-container *ngIf="formatting; then isTrue; else isFalse">
        </ng-container>
        <ng-template #isTrue>
          <p
            (click)="toggleFormatting()"
            matTooltip="hide formatting"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="white"
          >
            <u>Aa</u>
          </p>
        </ng-template>
        <ng-template #isFalse>
          <p
            (click)="toggleFormatting()"
            matTooltip="show formatting"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="white"
          >
            Aa
          </p>
        </ng-template>
      </div>

      <div
        class="icon-holder grey"
        [ngClass]="{ 'green-send-btn': inputField.length > 0 }"
      >
        <button
          [disabled]="inputField.length == 0 && !showPreview"
          mat-icon-button
          (click)="sendMessage()"
          matTooltip="send message "
          matTooltipPosition="above"
          matTooltipShowDelay="250"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
